* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primaryColor: #ddf0eec9;
  --primaryGreen: #30dfc7e3;
  --lightGreen: #a9eee2;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --darkGreen: #1e2420;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
body {
  font-family: "Roboto", "Lato", "Dancing Script", cursive, "Teko", sans-serif;
  color: var(--mainBlack);
  background: var(--primaryColor);
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
  font-family: "Lato", "Roboto", sans-serif;
}

//Kursiv rubrik
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
  font-family: "Life Savers", cursive;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-main {
  display: inline-block;
  text-decoration: none !important;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  background: var(--primaryGreen);
  padding: 0.4rem 0.9rem;
  border: 2px solid var(--primaryGreen);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-main:hover {
  background: transparent;
  color: var(--mainWhite);
}

//Navbar
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: rgb(32, 39, 39);
  z-index: 1;
}
.nav-header {
  display: inline-flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-self: right;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryGreen);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  padding: 4px;
}
.nav-links a {
  display: block;
  text-decoration: none !important;
  padding: 1rem 0;
  color: var(--mainWhite);
  transition: var(--mainTransition);
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
}
.nav-links a:hover {
  color: var(--primaryGreen);
}

.show-nav {
  height: 100px;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: left;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

//Mainsection
.CardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  margin-top: 4rem;
  width: 95%;
  margin: 5rem 3rem 5rem 3rem;
  grid-gap: 2rem;
  padding: 2rem;
  top: 4rem;
}
.card-title {
  text-align: center;
  font-size: 1rem;
  font-weight: !important;
}
.btn-card {
  display: inline-block;
  text-decoration: none !important;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  background: var(--primaryGreen);
  padding: 0.4rem 0.9rem;
  border: 2px solid var(--primaryGreen);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-card:hover {
  background: var(--darkGreen);
  color: var(--mainWhite);
}
.container-four {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 15px;
  padding: 2rem;
  top: 4rem;
}
.booking-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 15px;
  padding: 2rem;
  top: 4rem;
  margin-left: 8rem;
  margin-bottom: 8rem;
}
.booking-details {
  font-size: 1.2rem;
  color: rgb(95, 93, 93);
  list-style: none;
  position: relative;
}
.booking-container {
  display: flexbox;
}

/* Hero */
.defaultHero,
.extraHero {
  min-height: calc(120vh - 66px);
  background: url("../images/sundown.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.extraHero {
  background-image: url("../images/sundown-alt.jpg");
  min-height: calc(100vh - 66px);
  margin-bottom: 4rem;
}
.extraHero2 {
  background-image: url("../images/balance.jpg");
  min-height: calc(100vh - 66px);
  margin-bottom: 4rem;
}

/* bannerbox */
.bannerbox {
  display: inline-block;
  background: rgba(5, 52, 58, 0.527);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  letter-spacing: var(--mainSpacing);
}
.bannerbox h1 {
  font-size: 2.5rem;
}
.bannerbox div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.bannerbox p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .bannerbox {
    padding: 2rem 3rem;
  }
  .bannerbox h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .bannerbox {
    padding: 2rem 6rem;
  }
  .bannerbox h1 {
    font-size: 4rem;
  }

  /* About */
  .about {
    padding: 5rem 0;
  }
  .about {
    background: var(--lightGreen);
    text-align: center;
  }
  .services-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 30px;
  }
  .service span {
    display: inline-block;
    color: var(--primaryGreen);
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
  }
  .about h6 {
    letter-spacing: var(--mainSpacing);
  }
  .about p {
    width: 80%;
    margin: 0 auto;
  }
  @media screen and (max-width: 992px) {
    .about-center {
      width: 95%;
    }
  }

  /* Title */
  .section-title {
    text-align: center;
    margin-bottom: 4rem;
  }
  .section-title h4 {
    font-size: 2.6rem;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }
  .section-title div {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: var(--primaryColor);
  }
  //TREATMENTS CARDS
  .treatments {
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    padding: 5px;
  }
  .treatments:hover {
    box-shadow: var(--darkShadow);
  }

  .img-container {
    position: relative;
  }
  .img-container img {
    width: 100%;
    display: block;
    transition: var(--mainTransition);
  }
  .price-top {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: var(--mainWhite);
    padding: 0.6rem 0.6rem 0.5rem;
    border-bottom-right-radius: 1rem;
    font-size: 0.8rem;
    text-align: center;
    transition: var(--mainTransition);
  }
  .price-top h6 {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: var(--mainSpacing);
  }
  .treatments-link {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: scale(0);
    transition: all 0.3s linear;
    text-decoration: none !important;
  }
  .img-container:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .img-container:hover img {
    opacity: 0.3;
  }
  .img-container:hover .price-top {
    opacity: 0;
  }
  .img-container:hover .treatments-link {
    transform: translate(-50%, -50%) scale(1);
  }
  .treatments-header {
    background: var(--mainBlack);
    color: var(--mainGrey);
    font-size: 1.2rem;
    padding: 0.5rem 0;
    text-decoration: none !important;
    text-align: center;
    letter-spacing: var(--mainSpacing);
  }
  .treatment-info {
    font-size: 1rem;
    padding: 2rem;
    text-align: left;
    font-family: "Roboto", sans-serif;
    margin-bottom: 3rem;
  }
  .treatment-info h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--darkGreen);
  }
  .treatment-info h5 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .treatment-images {
    display: inline-flex;
    grid-template-columns: 2, auto;
    position: absolute;
    bottom: 2rem;
    margin-bottom: 10px;
  }

  .infotext-big {
    font-size: 1.4rem;
    padding: 6rem;
    text-align: center;
    font-weight: 700;
  }

  .treatment-container {
    display: flex;
    width: 90%;
    background-color: var(--lightGreen);
  }
  .treatment-container div {
    padding: 2rem;
  }
  .treatment-container img {
    padding: 5px;
  }

  //FORMS & BOOKING
  .form-container {
    background-color: rgba(52, 159, 163, 0.623);
    color: white;
    font-size: 0.8rem;
    padding: 2rem;
    width: 50%;
    border-radius: 5px;
    position: relative;
    h1 {
      padding: 15px;
      color: var(--primaryGreen);
    }

    .form-control {
      width: 100%;
      padding: 5px;
      color: #38c98c;
    }

    .form-group {
      margin-top: 20px;
      color: #38c98c;
    }

    label {
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
    }

    .input-group {
      margin: 5px auto;
      width: 100%;
      color: #058a52;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
  }
  .btn-booking {
    display: inline-block;
    text-decoration: none !important;
    letter-spacing: var(--mainSpacing);
    color: var(--mainWhite);
    background: var(--primaryGreen);
    padding: 0.4rem 0.9rem;
    border: 2px solid var(--primaryGreen);
    transition: var(--mainTransition);
    text-transform: uppercase;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
  }
  .btn-booking:hover {
    background: var(--darkGreen);
    color: var(--mainWhite);
  }

  .bookingcontainer {
    width: 90%;
    padding: 2rem;
    align-content: center;
    margin: 4rem;
  }
  .bookingform {
    display: inline-block;
    min-width: 250px;
    align-items: right;
    position: absolute;
    right: 4rem;
    top: 8rem;
  }
  .bookingformBig {
    display: inline-block;
    padding: 2rem;
    margin: auto;
    min-width: 600px;
    top: 8rem;
    background-color: var(--lightGreen);
  }

  //FOOTER
  .footercontainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    color: var(--mainWhite);
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    background-color: var(--mainBlack);
    font-size: 0.8rem;
  }
  .footericons {
    color: var(--mainWhite);
    font-size: 1.5rem;
    letter-spacing: 80;
    cursor: pointer;
    margin-right: 15px;
    display: flex;
    justify-items: right;
    padding: 10px;
    color: rgb(7, 214, 204);
  }

  .logotype {
    color: rgb(7, 214, 204);
    font-size: 2.4rem;
    font-family: "Dancing Script", cursive;
  }
  .footerlinks li {
    font-size: 0.6rem;
    line-height: 0.4rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
  }
  .footerlinks li:hover {
    cursor: pointer;
    color: var(--darkGrey);
    list-style: none;
  }
}
@media screen and (max-width: 700px) {
  .footercontainer {
    width: 100%;
    min-height: 80px;
  }
}
